@import "../../../styles/scss/colors.scss";

.icon-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    span {
        color: $dark_blue_2;
    }
}