@import "../../../styles/scss/colors.scss";

.icon-button {
    background-color: transparent;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: $dark_blue_2;
    }
}