/* ~~~~ COLORS ~~~~ */

$main_blue: #3498db;
$dark_blue: #2980b9;
$light_blue: #5da8e6;
$ultra_light_blue: #7fb8e6;
$dark_blue_2: #1f618d;
$light_blue_2: #aed6f1;
$light_blue_3: #dcf1ff;

$grey: #cccccc;

$shadow: #00000048;

$main_white: #f0f0f0;