@import "../../../styles/scss/colors.scss";

.password-input {
    display: flex;
    padding: 0px;
    overflow: hidden;

    input {
        width: 90%;
        height: 100%;
        border: none;
        background-color: transparent;
        padding: 0px 10px;
        box-sizing: border-box;
        outline: none;
    }
}